# dependencies
web-app/node_modules
web-app/.pnp
web-app/.pnp.*
web-app/.yarn/*
!web-app/.yarn/patches
!web-app/.yarn/plugins
!web-app/.yarn/releases
!web-app/.yarn/versions

# testing
web-app/coverage

# next.js
web-app/.next/
web-app/out/

# production
web-app/build

# misc
.DS_Store
*.pem
.agent/
.gemini/
Contoh membuat Pendahuluan.docx

# SQLite database
web-app/sqlite.db
web-app/sqlite.db-shm
web-app/sqlite.db-wal
web-app/*.db
web-app/*.db-shm
web-app/*.db-wal

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
web-app/.env*

# vercel
web-app/.vercel

# typescript
web-app/*.tsbuildinfo
web-app/next-env.d.ts
